/* Estilos CSS */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.navbar {
    background-color: #265ffa;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo img {
    width: 100px;
}

.search-bar {
    flex-grow: 1;
    text-align: center;
}

.search-bar input[type="text"] {
    width: 30%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.user-actions {
    display: flex;
    align-items: center;
}

.user-actions img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 50%;
}

.main-nav {
    background-color: #333;
    padding: 10px;
    text-align: center;
    display: none; /* Ocultar el menú principal por defecto */
}

.main-nav a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    background-color: #555;
    transition: background-color 0.3s;
}

.main-nav a:hover {
    background-color: #777;
}

.movie-categories {
    background-color: #444;
    padding: 20px;
    text-align: center;
}

.movie-categories select {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.movie-item {
    width: 250px;
    margin: 10px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.movie-item:hover {
    transform: translateY(-5px);
}

.movie-item h3 {
    margin-top: 0;
    font-size: 20px;
    color: #333;
}

.movie-item img {
    width: 100%;
    border-radius: 5px;
}

.movie-item p {
    color: #666;
}

.movie-item a {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: #333;
    background-color: #ddd;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.movie-item a:hover {
    background-color: #ccc;
}

/* Estilos para el botón tipo hamburguesa */
.hamburger-menu {
    display: none;
    cursor: pointer;
}

.hamburger-menu-bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
    transition: 0.4s;
}

/* Mostrar el menú principal solo en pantallas pequeñas */
@media only screen and (max-width: 768px) {
    .main-nav {
        display: block;
    }

    .navbar-logo img {
        display: none; /* Ocultar el logo en pantallas pequeñas para dar espacio al menú hamburguesa */
    }

    .hamburger-menu {
        display: block;
    }

    .search-bar {
        flex-grow: 0;
    }
}